*{
    margin: 0px;
    padding: 2px;
}

.position-button{
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    font-size: large;
    }


body{
    font-family: sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}

header{
    padding: 20px;
    color: #fff;
}

h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    color: #1098ad;
    padding: 10px;

}

h2{
    position: relative;
}

h2::after{
    content: "TOP";
    font-size: large;
    font-weight: bold;
    color: #444;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: yellow;
    padding: 5px;
}

h4{
    text-align: center;
}

.related-posts{
    list-style: none;
}


.post-img{
    width: 100%;
    height: auto;

}

a {
    color: #1098ad;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color : orangered;
}


.author{
    font-style: italic;
}

.main-header{
    margin: 20px 10px;
    background-color: #f2f2f2;
    padding: 20px 10px;
}

li{
    margin-bottom: 20px;
}
li:last-child{
    margin-bottom: 0px;
}


aside{
text-align: center;
}

